<article>
  <hgroup class="mb-4">
    <h1 class="ui-display-2xl"><%= @resource.title %></h1>
    <p class="font-medium"><%= @resource.description %></p>
  </hgroup>

  <div class="not-prose mb-6">
    <%= render CopyCommand.new(command: "bin/rails g quicksilver_ui:form #{@resource.title}") %>
  </div>

  <div class="prose">
    <% if @resource.content.present? %>
      <%= markdownify @resource.content, process: [CopyableCodeProcessor] %>
    <% end %>

    <%= render_previews(@resource.slug) %>

    <% if (implementation = render_implementation(@resource.slug, type: :form)) %>
      <h2>Implementation</h2>
      <%= implementation %>
    <% end %>
  </div>
</article>
