<nav class="w-52 h-full overflow-auto">
  <div
    class="
      px-4 py-2 border-r border-gray-200 space-y-4 flex flex-col
      justify-between h-full
    "
  >
    <div class="space-y-4">
      <div>
        <h5 class="font-medium text-lg">Getting started</h5>

        <menu>
          <% Content::Page.all.reject(&:root?).each do |item| %>
            <li>
              <%= link_to item.title, item, class: "ui-link" %>
            </li>
          <% end %>
        </menu>
      </div>

      <div>
        <h5 class="font-medium text-lg">Content</h5>

        <menu>
          <% Content::Content.all.each do |item| %>
            <li>
              <%= link_to item.title, item, class: "ui-link" %>
            </li>
          <% end %>
        </menu>
      </div>

      <div>
        <%= link_to components_path do %>
          <h5 class="font-medium text-lg">Components</h5>
        <% end %>

        <menu>
          <% Content::Component.all.each do |item| %>
            <li>
              <%= link_to item.name, item, class: "ui-link" %>
            </li>
          <% end %>
        </menu>
      </div>
    </div>

    <div>
      <%= link_to "https://evovia.com" do %>
        <%= image_tag "logo_green.svg", alt: "Evovia logo" %>
      <% end %>
    </div>
  </div>
</nav>
