<!DOCTYPE html>

<html lang="en" class="h-full">
  <head>
    <%= meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app %>

    <!-- Learn more on https://attractivejs.railsdesigner.com/ -->
    <!-- <script -->
    <!-- defer -->
    <!-- src="https://cdn.jsdelivr.net/npm/attractivejs@latest" -->
    <!-- nonce="<%#= content_security_policy_nonce %>" -->
    <!-- ></script> -->

    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full flex flex-col" data-controller="sidebar">
    <%= render "navbar" %>

    <div class="flex-1 flex min-h-0">
      <div
        data-sidebar-target="backdrop"
        data-action="click->sidebar#close"
        class="fixed inset-0 bg-black/50 z-40 hidden"
      ></div>

      <div
        data-sidebar-target="panel"
        class="
          fixed inset-y-0 left-0 z-50 -translate-x-full transition-transform duration-300 bg-white
          md:static md:translate-x-0
        "
      >
        <%= render "sidebar" %>
      </div>

      <main class="flex-1 overflow-auto p-5">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
