<!DOCTYPE html>

<html lang="en" class="h-full">
  <head>
    <%= meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app %>

    <!-- Learn more on https://attractivejs.railsdesigner.com/ -->
    <script defer src="https://cdn.jsdelivr.net/npm/attractivejs@latest"></script>
  </head>

  <body class="h-full">
    <%= render "navbar" %>

    <div class="h-full flex">
      <%= render "sidebar" %>

      <main class="p-5">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
