<!DOCTYPE html>

<html lang="en" class="h-full">
  <head>
    <%= meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app %>

    <!-- Learn more on https://attractivejs.railsdesigner.com/ -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/attractivejs@latest"
      nonce="<%= content_security_policy_nonce %>"
    ></script>

    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full flex flex-col">
    <%= render "navbar" %>

    <div class="flex-1 flex min-h-0">
      <%= render "sidebar" %>

      <main class="flex-1 overflow-auto p-5">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
